* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Esercizio 1 */
.ex-1-square{
    background-color: #f5f5f5;
    transition: background-color 2s;
}

.ex-1-square:hover{
    background-color: red;
}

/* Esercizio 2 */

.ex-2-square{
    transition: width 2s;
}

.ex-2-square:active{
    width: 100%;
} 

/* Esercizio 3 */

.ex-3-square{
    transition: border-radius 2s;
}

.ex-3-square:hover{
    border-radius: 100%;
} 

/* Esercizio 4 */

.ex-4-square{
    opacity: 1;
}

.ex-4-square:hover{ 
    opacity: 0;
    transition-duration: 5s;
} 

/* Esercizio 5*/

.ex-5-square{
    transition: height 5s, width 5s;
    transform: scale(0.5)
}

/* Esercizio 6*/

.ex-6-img:hover{
    filter: grayscale(100%)
} 

/* Esercizio 7*/

.ex-7-img{
    transition: all 2s ease-in-out;
}

.ex-7-img:hover{
    filter: blur(1px);
    filter: sepia(0.9);
} 

/* Esercizio 8*/

.ex-8-img{
    transition: all 2s ease-in-out;
}

.ex-8-img:hover{
    filter: blur(1px);
    filter: sepia(0.5);
    border-radius: 20px;
} 

/* Esercizio 9 */

.ex-9-img{
    transition: all 2s ease-in-out;
}

.ex-9-img:hover{
    transform: scale(1.5);
    border-radius: 5%;
}

